#pre-display_stuff *,
#debug_toolbar *
{
    margin: 0;
    padding: 0;
    text-align: left;
}
#pre-display_stuff
{
    font-size: 10pt !important;
    height: 0;
    width: 0;
    padding: 1ex;
    background-color: black;
    color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999; /* lot's of. */
    opacity: .2;
    -moz-border-radius: 1ex;
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
    text-align: left;
}
#pre-display_stuff code,
#pre-display_stuff span,
#pre-display_stuff pre,
#pre-display_stuff div,
#pre-display_stuff h1,
#pre-display_stuff h2,
#pre-display_stuff h3,
#pre-display_stuff h4,
#pre-display_stuff h5,
#pre-display_stuff h6
{
    color: black;
    background-color: transparent !important;
}
#pre-display_stuff a
{
    color: blue !important;;
}
#pre-display_stuff #pre-display_stuff_switcher
{
    top: 0;
    left: 0;
    width: 2ex;
    height: 2ex;
    display: block;
    position: fixed;
    text-align: center;
    line-height: 2ex;
}

#pre-display_stuff.foo
{
    height: 70%;
    width: 90%;
    right: 0;
    left: 0;
    overflow: auto;
    background-color: white;
    opacity : 1;
    /*opacity: .9;*/
    border: silver solid thin;
}

#pre-display_stuff.foo #pre-display_stuff_content
{
    font-family: sans-serif;
    height: 100%;
    overflow: auto;
    margin: 0 1ex;
} 

#pre-display_stuff_content .debug-output-block
{
    border-left: #ccc thin solid;
    padding-left: 1ex;
    margin: 0 0 1em 0;
}
#pre-display_stuff_content .debug-output-block > h1,
#pre-display_stuff_content .debug-output-block > h2,
#pre-display_stuff_content .debug-output-block > h3,
#pre-display_stuff_content .debug-output-block > h4,
#pre-display_stuff_content .debug-output-block > h5,
#pre-display_stuff_content .debug-output-block > h6
{
    color: black;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
#pre-display_stuff_content .debug-output-block > h1 { font-size: 1.3em; }
#pre-display_stuff_content .debug-output-block > h2 { font-size: 1.2em; }
#pre-display_stuff_content .debug-output-block > h3 { font-size: 1.1em; }
#pre-display_stuff_content .debug-output-block > h4 { font-size: 1.0em; }
#pre-display_stuff_content .debug-output-block > h5 { font-size: 0.9em; }
#pre-display_stuff_content .debug-output-block > h6 { font-size: 0.8em; }

#debug_toolbar
{
    font-size: 10pt !important;
    position: relative;
    text-align: left;
}
#debug_toolbar > *,
#debug_toolbar > * > h4
{
    display: inline;
}
#debug_toolbar h4
{
    padding: 0;
    margin: 0;
}
#debug_toolbar *
{
    color: black !important;
    background-color: inherit !important;
}
#debug_toolbar a
{
    color: blue !important;
}
#debug_toolbar dl#debug_info > dl,
#debug_toolbar dl#debug_info > dt,
#debug_toolbar dl#debug_info > dd
{
    padding: 0;
    margin: 0;
}
#debug_toolbar dl#debug_info > dt,
#debug_toolbar dl#debug_info > dd
{
    display: inline;
    font-size: .8em;
}
/*
#debug_toolbar dl#debug_info > dd:after
{
    content: ', ';
}
*/
#debug_toolbar #debug_toolbox
{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    line-height: 1.2em;
    height: 1.2em;
    margin: .2ex;
}
#debug_toolbar #debug_toolbox > h4
{
    height: 1.3em;
    display: inline;
    position: static;
    padding: 0;
    border: none;
    text-align: right;
}
#debug_toolbar #debug_toolbox > *
{
    display: none;
    background-color: #cca;
    border: thin solid #886;
    padding: 1ex;
    list-style: none;
    position: relative;
    top: -.1em; /* to be safe */
    z-index: 999;
}
#debug_toolbar #debug_toolbox:hover > *,
#debug_toolbar #debug_toolbox li > a
{
    display: block;
}

#foot_debug .errors_count
{
    position: fixed;
    z-index: 2147483647; /* I like to be on the top */
    bottom: 0;
    left: 0;
    background-color: white;
    color: black;
    padding: .5em;
    -webkit-border-top-right-radius: .5em;
    -moz-border-radius-topright: .5em;
    border-top-right-radius: .5em;
}
#foot_debug .errors_count dl,
#foot_debug .errors_count dl dt,
#foot_debug .errors_count dl dd
{
    padding: 0;
    margin: 0;
}
#foot_debug .errors_count dl dt,
#foot_debug .errors_count dl dd
{
    display: inline;
}
#foot_debug .errors_count dl dd
{
    padding: 0 1em 0 .5em;
    font-weight: bold;
}

