/**
 * Hide non-javascript-only content
 */
body.js .nojs
{
    display:                none;
}

/**
 * Hide elements added for computer sematics
 * (e.g. for satysfying microformats)
 */
.computer-semantic
{
    display:                none;
}

/**
 * hg.tooltip
 */

.tooltip_content
{
    display:                none;
}

/**
 * hg.gmaps
 */

.gmap /* legacy */
{
    overflow:               auto;
}
.gmap_messages /* legacy */
{
    height:                 1.5em;
}
.map .map_messages
{
    min-height:             18px; /* space for loader gif */
    background-color:       black;
/*    border-radius:          .75em;
    -moz-border-radius:     .75em;
    -khtml-border-radius:   .75em;
    -webkit-border-radius:  .75em;
    -ie-border-radius:      expression(DD_roundies('.map-panel.map .map_messages', '16'));
*/    opacity:                .7;
}

.gmap_messages .ajax_loading, /* legacy */
.map .map_messages .loading
{
    padding:                8px 0 8px 20px;
    background:             transparent url(../gfx/loading.gif) no-repeat scroll left center;
    font-weight:            bold;
}

/**
 * hg.helpval
 */
.helpval_active
{
    color:                  #888;
    font-style:             italic;
}

/**
 * modal windows
 */
.modaled
{
    display:                none;
}

