.paginator
{
    list-style : none;
    clear      : both;
    overflow   : hidden;
    text-align : center;
}

.paginator ul
{
    display : inline;
    display : inline-block;
    margin  : 0;
    padding : 0;
}

.paginator .page,
.paginator .page > *
{
    display     : inline;
    display     : inline-block;
    min-width   : 2em;
    height      : 1.8em;
    margin      : 0;
    padding     : 0;
    line-height : 1.8em;
    margin-left : .5em;
    text-align  : center;
}

.paginator .page.text .symbol
{
    font-size: 1.6em;
}

.paginator .active
{
    font-weight: bold;
}

.paginator .num.active.page > *
{
    -moz-border-radius    : .4em;
    -webkit-border-radius : .4em;
    -khtml-border-radius  : .4em;
    border-radius         : .4em;
}

.paginator a
{
    text-decoration : none;
}

