.paginator
{
    margin-left: 4em;
    list-style: none;
    clear: both;
    overflow: hidden;
}

.paginator > .page,
.paginator > .page > *
{
    display: block;
    min-width: 2em;
    height: 1.8em;
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    float: left;
    margin-left: .5em;
    text-align: center;
}

.paginator .active
{
    font-weight: bold;
}

.paginator > .num.active.page > *
{
    /* background-color: ; */
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    -khtml-border-radius: .4em;
    border-radius: .4em;
}

.paginator a
{
    text-decoration: none;
}

.paginator a:link
{
    /* color: ; */
}
.paginator a:visited
{
    /* color: ; */
}
.paginator a:focus,
.paginator a:active
{
    /* color: ; */
}

